.card-login {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

.options-login {
  text-align: center;
}

.buttons-login-goolge {
  margin: 5px;
  background-color: #0069c0;
}

.buttons-login-twitter {
  margin: 5px;
  background-color: #40c4ff;
}

.buttons-login-facebook {
  margin: 5px;
  background-color: #003c8f;
}
